extends layout

block content
  h1 #{title}
  
  ul
    each location_result in results
        ul
            li #[a(href="https://www.hyperoptic.com/live/?siteid=#{location_result.location.siteId}",target="blank") #{location_result.location.siteId}]: #{location_result.location.siteName} (#{location_result.location.greaterCityLocator})
                each result in location_result
                    ul
                        li £#{result.item.rental_prices.per_month}: #[a(href="#{result.item.details_url}",target="blank") #{result.item.displayable_address}] (confidence #{Number((1 - result.score)*100).toFixed(2)}%)
                            ul
                                li
                                    img(src="#{result.item.image_80_60_url}")